body { 
    
    background-color: silver;
    opacity: 100%;
    font-family: Betatron-Regular;
    color: rgb(165, 165, 165);
    text-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.124);
}

.audio-container {
    width: 66vw;
    height: 40vh;
    display: flex;
    justify-self: center;
    justify-content: center;
    align-content: center;
    background-color: rgba(165, 165, 165, 0.44);
    opacity: 50%;
    box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.124);
    font-family: Betatron-Regular;
    margin-bottom: 5%;
}

#waveform {
    width: 50%;
    height: 50%;
    align-self: center;
    
}



.center {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    color: silver;
    /* transform: translateY(30vh); */
    translate: 0%;
    margin-top: 0;
  }
  
  #knob_1 {
    justify-self: center;
    justify-content: center; /* right side */
  }
  
  #knob_2 {
    justify-content: center; /* left side */
  }

  #knob_3 {
    justify-content: center; /* left side */
  }

  .upload {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  
  input.upload:is(:focus, :focus-within) + label {
    outline: thin dotted;
  }

.knob_title p {
    display: flex;
    flex-direction: column-reverse;
    /* align-items: center; */
    text-align: center; 
    /* margin-bottom: 0rem;  */
    margin-top: 0rem;
    color: rgb(165, 165, 165);
    
}
  

.slider {
    width: 10vw;
    height: 10vw;
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.knob {
    width: 8.5vw;
    height: 8.5vw;
    /* min-width: 0; */
    background: rgb(165, 165, 165);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;

}
.knob .rotator {
    width: 8vw;
    height: 8vw;
    /* min-width: 80px; */
    background: rgb(235,235,235);
    border-radius: 50%;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.2) inset 1px 2px 1px white, 2px 1px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}
.knob .text { 
    width: 1vw;
    height: 1vw;
    min-width: 10px;
    margin: 0 15px;
    font-size: 1.5vw;
    color: rgb(165, 165, 165);
    display: flex;
    align-items: center;
    justify-content: center;
}

.pointer{
    
    /* width: 8vw;
    height: 1vw; */
    /* min-width: 100px; */

    position: absolute;
    /* background: blue; */
    width: 4vw;
    height: 20px;
    top: calc(50%-10px);
    left: 0;
    /* z-index: 1; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transform-origin: 4.25vw 10px;
    transform: rotate(-45deg);
}
.pointer span {
    font-size: 1.5vw;
    min-height: 20px;
    transform: rotate(180deg)
    translateX(0.4vw);
    color: black;

}


